/* div.field.field--name-field-notulen-vorige-vergadering.field--type-entity-reference.field--label-above > div.field__item > article > h2 { display: none; } */
.block-hr { display: none !important; }
#views-bootstrap-sponsors-block-1 .carousel-inner img { height: 100px; width: auto; object-fit: contain; }
.fullscreen-carousel, .fullscreen-carousel .carousel, .fullscreen-carousel .carousel-inner, .fullscreen-carousel .carousel-item, .fullscreen-carousel .carousel-item img { height: 100vh; width: 100vw; }
.fullscreen-carousel .carousel-item img { object-fit: contain; }
#views-bootstrap-activiteiten-block-2 img { width: 100%; height: auto; aspect-ratio: 16 / 9; object-fit: cover; }
#views-form-todo-block-1-1 #edit-actions--2 { display: none !important; }

/* node--alv.html.twig */ 
.alv-card .field__label {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  color: #6c757d;
  margin-bottom: 1rem;
  display: block;
}
.card { border-width: 3px !important; }
/* orange { var(--dxt-color-accent1) }
primary: var(--dxt-color-base)
var(--dxt-setting-navbar-background) */

/* Hide ACID block on mobile screens (under 768px) */
@media (max-width: 767.98px) {
  /* Using ID selector for higher specificity */
  #block-dxpr-theme-starterkit-views-block-acid-block-1 {
    display: none !important;
  }
}

.fc-event-title { text-wrap: auto; }

/* Target the form specifically for safety */
#views-form-todo-block-1-1 {

    /* Hide the top button wrapper (the one with the --2 suffix) */
    #edit-actions--2 {
        display: none !important;
    }
}

/* .btn-primary,
.btn:hover { color: #fff !important; }
.tabs__link.page-link { color: var(--dxt-color-base) !important; }
.btn-primary:disabled,
.btn-primary[disabled] {background-color: var(--dxt-color-base) !important; 
border-color: var(--dxt-color-base) !important;}
.btn-primary:hover { background-color: var(--dxt-color-accent1) !important; }
.btn-secondary:hover { background-color: var(--dxt-color-base) !important; }

:root {
  --dxpr-link-color: var(--dxt-color-base) !important;
  --dxpr-link-hover-color: var(--dxt-color-base);
  --dxpr-link-active-color:var(--dxt-color-base);
  --dxpr-link-visited-color: var(--dxt-color-base);
}
a:link {
  color: var(--dxpr-link-color);
}
a:visited {
  color: var(--dxpr-link-visited-color);
} */

/* Change colors of FullCalendar (Activiteiten) */
.fc .fc-daygrid-day-number {
  color: var(--dxt-color-base);
}

.fc-day-today { background-color: rgba(247, 226, 182, 0.30) !important;}


.bs-dropdown-caret { border: 0px !important; }


.carousel-item > div > div > h3 > a { text-decoration: none; }